{% extends 'app/base.html' %}
{% block title %}Your Personal To-Do-List{% endblock %}
{% block content %}
{% load static %}
<link href="{% static 'styles.css' %}" rel="stylesheet">
<div class="g">
<div class="container px-4 px-lg-5">
    <div class="gg">
        {% if not user.is_authenticated %}
        <h1>Your personal TO-DO list</h1>
        <p>Register or login to start.</p>
        <a href="{% url 'register' %}"><button class="btn btn-outline-dark">Register</button></a>
        <a href="{% url 'login' %}"><button class="btn btn-dark">Login</button></a>
        {% else %}
        <h1>Your personal TO-DO list</h1>
        <p>Add To-Do to start.</p>
        <a class="btn btn-dark" href="{% url 'todo-create' %}">Add To-Do</a>
        {% endif %}
    </div>
</div>
    </div>
{% if not user.is_authenticated %}
<div class="bod">
<div class="container px-4 px-lg-5 hh">
</div>
</div>
{% else %}
<div class="bod">
<div class="container px-4 px-lg-5 hh">
    {% if messages %}
     {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" style="text-align: center">
          {{ message }}
        </div>
     {% endfor %}
    {% endif %}
    <div class="container px-4 px-lg-5 cord">
        {% if not todos %}
        <h1 class="did">There could be your To-Do</h1>
        {% endif %}
        {% for todo in todos %}
        {% if user.username == todo.user.username %}
        <div class="card" style="width: 18rem; margin-top: 10px; display: inline-block; margin-left: 10px;" id="card">
  <div class="card-body">
    <h5 class="card-title" style="text-align: center;">{{ todo.title }}</h5>
    <p class="card-text" style="text-align: center;">Expiration date:</p>
      {% if todo.is_expired %}
    <p class="card-text" style="text-align: center; color: red;">Expired</p>
      {% else %}
    <p class="card-text" style="text-align: center;">{{ todo.date_field }}</p>
      {% endif %}
    <a class="btn btn-dark" href="{% url 'todo-delete' todo.id %}">Delete</a>
    <a class="btn btn-dark" href="{% url 'todo-update' todo.id %}">Update</a>
  </div>
     </div>
    {% endif %}
    {% endfor %}
</div>
</div>
    </div>
{% endif %}
<footer>
    <p class="foot">Kael's Website</p>
</footer>
{% endblock %}